/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.artwork_img {
  max-width: 500px;
  max-height: auto;
}

.artworkContainer{
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;

}

.artworkInfo {
  text-align: left;
  padding-left: 20px;
}

.sold-label {
  font-weight: 400;
}

.allArtwork {
  align-items: center;
  justify-content: center;
}