body {
  font-family: "Didact Gothic", sans-serif;
  margin: 0px;
}

html {
  overflow-x: hidden;
  margin: 0px;
}

.artwork_img {
  max-width: 500px;
  max-height: auto;
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
}

.artworkContainer {
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  max-width: 100%;
  padding-top: 50px;
  /* justify-content: center;
  align-items: center; */
}

.artworkCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artworkInfo {
  padding-left: 50px;
  align-self: flex-start;
}

.sold-label {
  font-weight: 400;
}

.navFancy {
  font-family: "DM Serif Display", sans-serif;
  font-size: 32px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-left: calc((100vw - (1439px - 64px)) / 2);
  padding-right: calc((100vw - (1439px - 64px)) / 2);
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
}

.greeting {
  font-size: 20px;
  padding-left: 50px;
  font-weight: bold;
}

.linksContainer {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navLinks-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sold-label {
  font-weight: bold;
  font-size: 16px;
}

.artworkArtist {
  font-size: 20px;
  font-family: "DM Serif Display";
}

.artworkSingleContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 100px;
}

.bidInput {
  font-family: "Didact Gothic", sans-serif;
  padding: 0.4em 1.2em;
  margin-right: 10px;
}

.details-bidform-container {
  padding: 20px;
  align-self: center;
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.247);
}
