#root {
  padding: 50px;
}

body {
  font-family: "Didact Gothic", sans-serif;
}

.artwork_img {
  max-width: 500px;
  max-height: auto;
}

.artworkContainer {
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  max-width: 100%;
  /* justify-content: center;
  align-items: center; */
}

.artworkCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artworkInfo {
  padding-left: 50px;
  align-self: start;
}

.sold-label {
  font-weight: 400;
}

.navFancy {
  font-family: "DM Serif Display", sans-serif;
  font-size: 32px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.greeting {
  font-size: 24px;
  padding-left: 50px;
  font-weight: bold;
}

.linksContainer {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navLinks-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
