button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #b8afaf;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4755cc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #7474742b;
  }
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  font-size: 20px;
  font-weight: bold;
}
a:hover,
a:active {
  color: #4755cc;
}
